 *{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#banner{
    margin-top: 55px;
    /* background:linear-gradient(rgb(240, 234, 234),rgb(240, 190, 29),rgb(240, 152, 208)); */
    background-color: rgba(14, 12, 12, 0.789);
   padding-top: 120px;
   padding-bottom: 100px;
   color: white;
   height: 550px;
} 
.img-logo{
    width: 40px;
    height: 40px;
}

.img-fluid{
    animation: animate 3s linear infinite;

}


@keyframes animate{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}